<nav>
    <img src="assets/images/logo.png" alt="" class="logo">
      <ul id="menu-links">
        <li routerLink="/home"  routerLinkActive="Active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page">Home</li>    
        <li routerLink="/login"  routerLinkActive="Active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page">LOGIN</li>
        <li routerLink="/signup"  routerLinkActive="Active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page">SIGNUP</li>
        <li routerLink="/aboutus"  routerLinkActive="Active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page">ABOUT US</li>
      </ul>
      </nav>
      

  
      